body {
  font-family: "Montserrat", sans-serif;
}

/* navbar */
#nav {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  background-color: #2a9d8f;
  box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.4);
  padding: 5px 20px 5px 20px;
  color: #e9c46a;
  text-align: center;
  padding: 10px 0 10px 0;
}

.btn-download {
  width: 15%;
  color: #2a9d8f;
  background-color: #e9e9e9;
}

a span {
  font-size: 10px;
}

.menu {
  margin-right: 5px;
}

/* hero */
#hero {
  height: 100vh;
  background-color: #2a9d8f;
  animation: home;
  animation-duration: 0.7s;
  box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.4);
}

#hero .container {
  position: relative;
  top: 20vh;
}

.name {
  background-color: #264653;
  width: 300px;
  height: 100px;
  margin: auto auto;
  color: #e9e9e9;
  text-align: center !important;
  position: relative;
  z-index: 99;
}

.name-layer {
  width: 300px;
  height: 100px;
  position: absolute;
  background-color: #e9e9e9;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  transform: rotate(6deg);
  transition: 0.3s;
}

#hero h1 {
  font-size: 24px;
  line-height: 100px;
  text-align: center;
  font-weight: 500;
}

.desc-hero {
  text-align: center;
  color: #e9e9e9;
  margin-top: 5vh;
}

.desc-hero h1 {
  line-height: normal !important;
  font-size: 32px !important;
}

.contact-hero p {
  font-size: 16px;
  color: #e9e9e9;
  text-align: center;
}

.btn-start {
  background-color: #264653;
  color: #e9e9e9;
  padding-right: 30px !important;
  padding-left: 30px !important;
  margin: auto;
}

.btn-start:hover {
  background-color: #e9c46a;
  color: #264653;
}

.contact-hero a {
  text-align: center !important;
  margin: auto;
}

/* about page */
#about {
  position: relative;
}

.header {
  /* height: 60px; */
  background-color: #2a9d8f;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  animation-name: header-animation;
  animation-duration: 1s;
  position: sticky;
  box-shadow: 2px 3px 16px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.header p {
  line-height: 60px;
  text-align: center;
  color: white;
  font-size: 24px;
  animation-name: text-opacity;
  animation-duration: 1s;
}

.isi {
  animation-name: text-opacity;
  animation-duration: 2s;
  margin-bottom: 60px;
}

.profile-img {
  position: relative;
}

.profile-img img {
  height: 200px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.profile-img-layer {
  position: absolute;
  top: 0px;
  height: 200px;
  width: 200px;
  background-color: #2a9d8f;
  border-radius: 50%;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0px;
  text-align: center;
  transition: 0.3s;
}

.profile-img:hover .profile-img-layer {
  top: 10px;
  right: 17px;
}

.about-content {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* about - edu */
.subtitle {
  font-size: 23px;
  font-weight: 600;
  color: #2a9d8f;
}

.roadmap {
  margin-bottom: 40px;
}

.roadmap h2 {
  font-size: 14px;
}

.roadmap h1 {
  font-size: 20px;
  font-weight: 600;
}

.img-edu img {
  opacity: 0.5;
  width: 250px;
  position: absolute;
  bottom: 20px;
  right: 0;
  z-index: -5;
}

/* about programming */
.tools {
  margin-bottom: 15px;
}

.logo-tools {
  display: inline-block;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.logo-tools img {
  height: 50px;
  margin-right: 5px;
}

.logo-tools img:hover {
  opacity: 1;
  filter: grayscale(0);
}

/* experiences */
.exp-row-1 {
  position: relative;
}

.img-journey img {
  width: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -5;
  opacity: 0.3;
}

.exp-card {
  transition: 0.2s;
  padding: 10px;
  border-radius: 10px;
  height: 135px;
  position: relative;
  color: #2a9d8f;
}

.exp-card:hover {
  color: #e9e9e9;
  background-color: #2a9d8f;
}

.arrow i {
  font-size: 20px;
}

.arrow {
  position: absolute;
  bottom: 5px;
  opacity: 0;
  transition: 0.3s;
}

.exp-card:hover .arrow {
  opacity: 1;
  transform: rotate(90deg);
}

/* completions */
.comp-card {
  transition: 0.2s;
  padding: 10px;
  border-radius: 10px;
  height: 125px;
  position: relative;
  color: #2a9d8f;
}

.comp-card:hover {
  color: #e9e9e9 !important;
  background-color: #2a9d8f;
}

.arrow-comp i {
  font-size: 20px;
}

.arrow-comp {
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  transition: 0.3s;
}

.comp-card:hover .arrow-comp {
  opacity: 1;
  transform: rotate(360deg);
}

.comp-link {
  position: absolute;
  bottom: 10px;
}

.comp-card a {
  color: #264653;
  opacity: 0;
  transition: 0.3s;
  font-size: 14px;
  text-decoration: underline;
}

.comp-card a:visited {
  color: #264653;
}

.comp-card:hover a {
  color: #e9e9e9;
  opacity: 1;
}

/* portfolios */
.box {
  position: relative;
  padding: 8px;
  border: solid 2px #2a9d8f;
  border-radius: 20px;
  height: 350px;
  transition: 0.2s;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.box a {
  text-decoration: underline !important;
}

.box:hover {
  background-color: #2a9d8f;
  color: #e9e9e9;
  border-radius: 15px;
  box-sizing: border-box;
}

.box:hover a {
  color: #e9e9e9;
  text-decoration: underline;
}

.box p {
  font-size: 11px;
  line-height: normal;
}

/* animations */

@keyframes header-animation {
  from {
    height: 500px;
  }
  to {
    height: 60px;
    margin-bottom: 20px;
    transition: 0.3s;
  }
}

@keyframes text-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes home {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .exp-card {
    height: 230px;
  }

  .comp-card {
    height: 205px;
  }
}

@media (min-width: 992px) {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #e9e9e9;
  }

  ::-webkit-scrollbar-thumb {
    background: #2a9d8f;
  }

  #nav {
    padding: 5px 20px 5px 20px;
    position: fixed;
    bottom: 0;
    text-align: center;
  }

  .btn-download {
    width: 80px;
    color: #2a9d8f;
    background-color: #e9e9e9;
  }

  .sub-menu {
    display: inline;
  }

  /* hero */
  #hero .container {
    top: 15vh;
  }

  .name {
    background-color: #264653;
    width: 475px;
    height: 135px;
    margin: auto auto;
    color: #e9e9e9;
    z-index: 99;
    position: relative;
    transform: rotate(0);
  }

  .name-layer {
    width: 475px;
    height: 135px;
    position: absolute;
    background-color: #e9e9e9;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    transform: rotate(0);
    transition: 0.3s;
  }

  #hero .container:hover .name-layer {
    transform: rotate(10deg);
  }

  #hero h1 {
    font-size: 34px;
    line-height: 135px;
    text-align: center;
  }

  .desc-hero {
    text-align: center;
    color: #e9e9e9;
    margin-top: 7vh;
  }

  .contact-hero p {
    font-size: 16px;
    color: #e9e9e9;
    text-align: center;
  }

  .profile-img img {
    width: 320px;
    height: 320px;
  }

  /* about */
  .img-edu img {
    opacity: 0.7;
    width: 400px;
    position: absolute;
    bottom: -20px;
    right: 0;
    z-index: -5;
  }

  /* exp */
  .img-journey img {
    right: 0;
  }
  .exp-card {
    height: 170px;
    overflow: hidden;
  }

  .exp-card:hover .arrow {
    opacity: 1;
    transform: rotate(360deg);
  }

  /*comp  */
  .comp-card {
    height: 150px;
  }

  /* portfolios */
  .box {
    height: 275px;
  }
}
